section.hero
	.hero__content.container
		h1.hero__content-title Find the Best Solution in Seconds
		p.hero__content-descr If debugging is the process of removing software bugs.
		.hero__content-buttons 
			a.hero__content-button.regular__btn get started
			a.hero__content-button.regular__btn try for free
		img.hero__content-screen(src="./img/screen.png", alt="screen")